<a routerLink="/auth/login">&lt;&lt;Back to Login</a>
<div class="container">
    <h2>Registration</h2>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [formControl]="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [formControl]="lastName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button class="btn btn-lg btn-primary btn-block" (click)="onSubmitAPI()">Submit</button>
    <!-- <button (click)="onSubmitAPI()">Submit API</button> -->
</div>