header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.middleButtons{
    font-size: 20px;
}
#store-link{
    padding: 50px;
}
#categories-link{
    padding: 50px;
}
.profileButton{
    // height: 24px;
    // width: 24px; 
    // display: flex;
    //align-content: center;
}
.logInButton{
    font-size: 15px;    
}
